/**
 * @author: group 05
 * Contain the style of the jsonplop page
 */
body{
  background-size:100%;
}

.title {
  color: white;
  font-size: 45px;
  margin-left: 50%;

}

.container1{
  margin-left: 300px;
}

.allrequestbutton{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  display: block;
}

.collapsetext{
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 10px;
}

#luketext{

    width: 300px;
    background-color: white;
}

#hantext{
    width: 295px;
    background-color: white;
    margin-left: 305px;
}

#leilatext{
   width: 295px;
    background-color: white;
    margin-left: 612px;
}

#luketextput{

    width: 295px;
    float:left;
    background-color: white;
}

#hantextput{
    width: 295px;
    margin-left: 305px;
    background-color: white;

}

#leilatextput{
   width: 300px;
   margin-left: 610px;
   background-color: white;

}

.allrequestbutton2{
  width: 100%;
margin-bottom: 10px;
  float: left;
  display: block;
}


#get-Luke{

  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: yellow;

}

#get-Han{

  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: yellow;
}



#get-Leila{

  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: yellow;
}

#put-luke{

  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: red;

}

#put-Han{

  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: red;
}

#put-Leila{

  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: red;
}

.luke{
  width: 300px;
  height: 600px;
}

.Han{
  width: 300px;
  height: 600px;
}

.leia{
  width: 300px;
  height: 600px;
}

.post-container {
  background-color: lightblue;
  width: 75%;
  margin-top: 20px;
}
