doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Angular Drive
        style
            include styles/style.css
        script(src='https://code.jquery.com/jquery-2.2.1.min.js')
        script
            include javascripts/jqueryValidate.js
        script
            include javascripts/signupValidate.js
    body
        block content
