extends base.pug
block content
    h1 Login to Angular Drive
    div.container
        div.formContainer
            form(action="http://localhost:3000/user/login", method="post" id = "form")
                div.formElementContainer
                    label(for="email") EMAIL:
                    input(type="email", name="email")
                div.formElementContainer
                    label(for="password") PASSWORD:
                    input(type="password", name="password")
                div.formElementContainer
                    input(type="submit", value="LOGIN")
