extends base.pug
block content
    h1 Signup to Angular Drive
    div.container
        div.formContainer
            form(action="/user/signup", method="post" id="form")
                div.formElementContainer
                    label() NAME:
                    input(type = "text", name = "name")
                div.formElementContainer
                    label() SURNAME:
                    input(type = "text", name = "surname")
                div.formElementContainer
                    label() EMAIL:
                    input(type = "email", name = "email")
                div.formElementContainer
                    label() PASSWORD:
                    input(type = "password", name = "password" id = "password")
                div.formElementContainer        
                    label() REPEAT PASSWORD:
                    input(type = "password", name = "repeatPassword" id = "repeatPassword")
                div.formElementContainer
                    input(type="submit", value="Signup")
